.dialogsItems {
    display: grid;
    justify-items: stretch;
    border: 1px solid #4A4453;

    background-color: #00b6b0;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 100px;


}

.dialogsItems .active {
    color: gold;
}
