.header {
    grid-area: header;
    padding: 20px;

}

.header {
    background-image: url('./bakgroundHeader.png');
    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border: 2px solid #4A4453;
    -webkit-box-shadow: -1px 3px 34px -7px rgba(37, 250, 172, 0.63);
    -moz-box-shadow: -1px 3px 34px -7px rgba(37, 250, 172, 0.63);
    box-shadow: -1px 3px 34px -7px rgba(37, 250, 172, 0.63);
}

.header h1 {
    font-size: 60px;
    color: azure;
    position: center;


}