.header {
    grid-area: h;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
    url(https://images.unsplash.com/photo-1495464101292-552d0b52fe41?auto=format&fit=crop&w=1350&q=80) no-repeat center,
    linear-gradient(#4e4376, #2b5876);
    background-size: cover;
    border-bottom: .2em solid #fff;
}

.header img {
    width: 120px;
}

.loginBlock {
    float: right;
    color: red;
    padding: 20px;
    margin: 30px;
    border: white;

}

.loginBlock a {
    color: red;
    padding: 20px;
    margin: 30px;
}