
.app-wrapper {
    margin: 0 auto;
    display: grid;
    max-width: 1200px;
    height: 1fr;
    grid-template-areas: "h h" "n c";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-rows: 120px 1fr;
    grid-template-columns: max-content 1fr;


}
